body {
  font-family: Open Sans, Arial, sans-serif;
  background-color: #fafafa;
}

.navbar {
  background-color: white;
  height: 6rem;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.home {
  cursor: pointer;
}

.logo {
  height: 5rem;
  width: auto;
  margin: 0;
  cursor: pointer;
}

.head-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
}

.facebook-container {
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  color: white !important;
  background-color: #3b5998;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.mobile-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fad815;
  transition: height 0.4s ease;
  overflow: hidden;
}

.navbar-nav {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
}

.header-desc {
  margin-top: 9rem;
  height: 4rem;
  padding: 0.5rem;
  color: #fad815;
  background-image: linear-gradient(#f12e2e, #57310e);
  font-size: 1rem;
  font-weight: 600;
}

#main {
  background-color: #fafafa;
}

.head-sect {
  position: relative;
  display: flex;
  height: 35rem;
  overflow: hidden;
  -moz-box-shadow: 0 4px 10px 4px grey;
  -webkit-box-shadow: 0 4px 10px 4px grey;
  box-shadow: 0 4px 10px 4px grey;
  /* border: 5px solid #fff; */
  margin-bottom: 4rem;
}

.video-container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 35rem;
}

.head-vid {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-position: center;
  background-size: cover;
}

.slide1 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/slide-img3.jpg);
}

.slide2 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/slide-img2.jpg);
}

.slide3 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/slide-img1.jpg);
}

.slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 35rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

#slide-text_container {
  position: absolute;
  background-color: rgba(250, 216, 21, 0.329);
  color: white;
  width: 20rem;
  height: 20rem;
  border-radius: 0.4rem;
}

.slide-text {
  position: absolute;
  font-weight: bold;
  padding: 0.4rem;
  font-size: 1.1rem;
  text-align: center;
}

.card-container .col-lg-4 {
  padding-left: 0;
  padding-right: 0;
}

.card-container .card {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  border: 0;
  overflow: hidden;
}
.card-container .card h3 {
  color: black;
}

.card-body {
  background-color: #f5f4f4;
}

.card-text {
  color: rgba(0, 0, 0, 0.651);
}

#about {
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  margin-bottom: 2rem;
  position: static;
  flex-direction: column;
  box-shadow: 0 0px 20px 4px grey;
}
#about h2 {
  font-size: 1.4rem;
}

.core-container {
  background-color: #3D5975;
  color: white;
  padding: 2rem;
  border: 1px solid black;
  max-width: 35rem;
  border-radius: 0;
  position: static;
  bottom: -14rem;
}

.core-value {
  font-size: 0.9rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  margin: 1rem 0;
  overflow: hidden;
}
.project img {
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.project:hover img {
  transform: scale(1.2);
}

.project::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  transition: all 0.4s ease;
}

.project:hover::after {
  opacity: 0.8;
}

#clients {
  box-shadow: 0 10px 14px 4px #706d6d;
}

.clients-container {
  justify-content: center;
  align-items: center;
}

.backclient {
  width: 10rem;
  background-color: darkgoldenrod;
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
}

.client {
  padding: 0.5rem;
  width: 10rem;
  background-color: darkgoldenrod;
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
}

.client-badge {
  text-align: center;
}

#contact-form {
  padding: 0;
}

.map {
  margin: 4rem 0;
}
.map iframe {
  width: 100%;
  height: 30rem;
}

.spacer {
  background-color: #f12e2e;
  font-size: 3rem;
  color: white;
}

.section-item {
  padding: 0 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

img {
  width: 100%;
}

.h1-text {
  font-weight: bold;
  text-align: center;
  color: #1d3557;
}
.h1-text::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  width: 5rem;
  padding-top: 15px;
  border-bottom: 8px solid #f12e2e;
}

.header-text {
  font-weight: bold;
  margin: 4rem 0;
  font-weight: 600;
}
.header-text::after {
  content: "";
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  width: 5rem;
  padding-top: 15px;
  border-bottom: 5px solid #f12e2e;
}

h3 {
  font-weight: bold;
}

.section {
  margin-left: -15px;
  margin-right: -15px;
}

.divider::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 12rem;
  padding-top: 15px;
  border-bottom: 3px solid #f12e2e;
  margin-bottom: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-top {
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #3333f8;
  text-align: center;
  color: white;
  width: 3rem;
  height: 3rem;
  padding-top: 0.2rem;
  margin: 2rem;
  font-size: 1.4rem;
  transition: all 0.5s ease-in-out;
}

.show {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.second-bg {
  background-color: white;
}

button.close {
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 1000px) {
  .head-vid {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-position: center;
    background-size: cover;
  }

  #main-nav {
    z-index: 100;
    position: static;
    height: auto;
    width: auto;
    background-color: inherit;
  }

  .col-lg-4 .card {
    padding-left: 0;
    padding-right: 0;
    width: 18rem;
    margin: 0 auto;
  }

  #contact-form {
    padding: 2rem 4rem 2rem 0;
  }

  .project {
    position: relative;
    margin: 1rem;
    overflow: hidden;
    width: 45%;
  }

  .clients-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-nav {
    height: 100%;
  }

  .close {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbar {
    padding: 0 10rem;
    height: 8rem;
  }

  .logo {
    height: 6rem;
    width: auto;
    margin-left: 3rem;
  }

  .head-nav {
    padding: 0.75rem 13rem 0 13rem;
  }

  .header-desc {
    margin-top: 11rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  #slide-text_container {
    position: absolute;
    left: 4rem;
    background-color: rgba(250, 216, 21, 0.329);
    color: white;
    width: 20rem;
    height: 20rem;
    border-radius: 0.4rem;
  }

  .slide {
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    display: flex !important;
    align-items: center;
  }

  .close {
    display: none;
  }

  .col-lg-4 .card {
    padding-left: 0;
    padding-right: 0;
    width: 22rem;
    margin: 0 auto;
  }

  .card-body {
    height: 25rem;
  }

  #about {
    position: relative;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
  }

  .core-container {
    background-color: #3D5975;
    color: white;
    padding: 2rem;
    border: 1px solid black;
    max-width: 35rem;
    border-radius: 40px;
    position: absolute;
    bottom: -8rem;
  }

  .core-value {
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=style.css.map */
