body {
  font-family: Open Sans, Arial, sans-serif;
  background-color: #fafafa;
}

.navbar {
  background-color: white;
  height: 6rem;
  padding: 0.5rem;
  transition: all 0.3s ease;
}

.home {
  cursor: pointer;
  color: #3D5975;
}
.home:active {
  color: #111c27;
}
.home:hover {
  color: #111c27;
}

.logo {
  height: 5rem;
  width: auto;
  margin: 0;
  cursor: pointer;
}

.head-nav {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem;
}

.facebook-container {
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  color: white !important;
  background-color: #3b5998;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.mobile-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fad815;
  transition: height 0.4s ease;
  overflow: hidden;
}

.navbar-nav {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  transition: color 0.4s ease;
}

.header-desc {
  margin-top: 9rem;
  height: 4rem;
  padding: 0 0.5rem;
  color: #fad815;
  text-align: center;
  background-color: #f12e2e;
  font-size: 0.9rem;
  font-weight: 600;
}

#main {
  background-color: #fafafa;
}

.head-sect {
  position: relative;
  display: flex;
  height: 35rem;
  overflow: hidden;
  -moz-box-shadow: 0 4px 10px 4px grey;
  -webkit-box-shadow: 0 4px 10px 4px grey;
  box-shadow: 0 4px 10px 4px grey;
  /* border: 5px solid #fff; */
  margin-bottom: 4rem;
}

.slide1 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/slide-img3.jpg);
}

.slide2 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/slide-img2.jpg);
}

.slide3 {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../images/slide-img1.jpg);
}

.slide {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 30rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.slide-text_container {
  position: absolute;
  display: block;
  z-index: 2;
  background-color: rgba(0, 247, 255, 0.171);
  color: white;
  width: 20rem;
  height: 20rem;
  border-radius: 0.4rem;
}

.slide-text {
  position: absolute;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.btn-cta {
  color: #fff;
  font-weight: bolder;
  margin-top: 0.5rem;
  background-color: #28a745;
  border-color: #28a745;
}

.card-container .card {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  width: 20rem;
  margin: 1rem;
  border-radius: 4px;
  border: 0;
  overflow: hidden;
  float: left;
}
.card-container .card h3 {
  color: black;
}

.card-body {
  font-size: 0.9rem;
  height: 100%;
  background-color: #f5f4f4;
  border: 1px solid #ddd;
  margin-bottom: 1.4rem;
  transition: height 0.4s ease;
}
.card-body ul {
  margin-bottom: 0.5rem;
}

.card-text {
  color: rgba(0, 0, 0, 0.651);
}

.card-block {
  display: none;
  transition: background-color, color, box-shadow 0.4s ease;
}
.card-block:active {
  background-color: #b12020;
}
.card-block:hover {
  box-shadow: 8px 10px 20px 10px grey;
  background-color: #b12020;
}

#about {
  padding-top: 3rem;
  padding-bottom: 4.5rem;
  margin-bottom: 2rem;
  position: static;
  flex-direction: column;
  box-shadow: 0 0px 20px 4px grey;
}
#about h2 {
  font-size: 1.4rem;
}

.core-container {
  background-color: #3D5975;
  color: white;
  padding: 2rem;
  border: 1px solid black;
  max-width: 35rem;
  border-radius: 0;
  position: static;
  bottom: -14rem;
}

.core-value {
  font-size: 0.9rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  position: relative;
  margin: 1rem 0;
  overflow: hidden;
}
.project img {
  transform: scale(1);
  transition: transform 0.4s ease-in-out;
}
.project:hover img {
  transform: scale(1.2);
}

.project::after {
  z-index: 1;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0;
  transition: all 0.4s ease;
}

.project:hover::after {
  opacity: 0.8;
}

#clients {
  box-shadow: 0px 1px 14px #706d6d;
}

.clients-container {
  justify-content: center;
  align-items: center;
}

.backclient {
  width: 10rem;
  background-color: darkgoldenrod;
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
}

.client {
  padding: 0.5rem;
  width: 10rem;
  background-color: darkgoldenrod;
  margin: 1rem;
  border-radius: 8px;
  overflow: hidden;
}

.client-badge {
  text-align: center;
}

#contact-form {
  padding: 1rem;
  background-color: #3D5975;
  color: white;
  overflow: hidden;
}

.map {
  margin: 4rem 0;
}
.map iframe {
  width: 100%;
  height: 30rem;
}

.footer {
  background-color: #e2e2e2;
}

.location {
  padding: 1rem;
}

.list-group-item {
  background-color: inherit !important;
  font-weight: bold;
}
.list-group-item a {
  color: inherit;
}

.spacer {
  background-color: #f12e2e;
  font-size: 3rem;
  color: white;
}

.section-item {
  padding: 0 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
}

img {
  width: 100%;
}

.h1-text {
  font-weight: bold;
  text-align: center;
  color: #1d3557;
}
.h1-text::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  width: 5rem;
  padding-top: 15px;
  border-bottom: 8px solid #f12e2e;
}

.header-text {
  font-weight: bold;
  margin: 4rem 0;
  font-weight: 600;
}
.header-text::after {
  content: "";
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  width: 5rem;
  padding-top: 15px;
  border-bottom: 5px solid #f12e2e;
}

h3 {
  font-weight: bold;
}

.section {
  margin-left: -15px;
  margin-right: -15px;
}

.divider::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 12rem;
  padding-top: 15px;
  border-bottom: 3px solid #f12e2e;
  margin-bottom: 2rem;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-top {
  cursor: pointer;
  position: fixed;
  z-index: 99;
  bottom: 0;
  right: 0;
  background-color: #3333f8;
  text-align: center;
  color: white;
  width: 3rem;
  height: 3rem;
  padding-top: 0.2rem;
  margin: 2rem;
  font-size: 1.4rem;
  transition: all 0.5s ease-in-out;
}

.show {
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.second-bg {
  background-color: white;
}

button.close {
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

.clear-me-success {
  background-color: #18d118;
  padding: 1rem;
  color: white;
}

.clear-me-fail {
  background-color: red;
  padding: 1rem;
  color: white;
}

.extend {
  height: 50rem !important;
}

.submit-button {
  background-color: #28a745;
  color: white;
  margin-bottom: 1rem;
}
.submit-button:disabled {
  background-color: inherit;
}

.card-container {
  position: relative;
  padding-bottom: 70px;
  padding-top: 0px;
}
.card-container .carousel-box {
  position: relative;
}
.card-container .carousel-box .inner {
  position: relative;
  overflow: hidden;
  max-width: none;
  margin: 0;
}
.card-container .carousel.main {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  margin-right: -20px;
}
.card-container .caroufredsel_wrapper {
  padding: 0;
  margin: 0;
}

.banner_prev {
  display: block;
  width: 20px;
  height: 31px;
  background: url(../images/prev.png) left top no-repeat;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  bottom: 0;
  z-index: 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.banner_prev:hover {
  background-position: bottom;
  opacity: 1;
  filter: alpha(opacity=100);
}

.banner_next {
  display: block;
  width: 20px;
  height: 31px;
  background: url(../images/next.png) left top no-repeat;
  position: absolute;
  right: 50%;
  margin-right: -40px;
  bottom: 0;
  z-index: 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.banner_next:hover {
  background-position: bottom;
  opacity: 1;
  filter: alpha(opacity=100);
}

@media (min-width: 1000px) {
  .head-vid {
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-position: center;
    background-size: cover;
  }

  #main-nav {
    z-index: 100;
    position: static;
    height: auto;
    width: auto;
    background-color: inherit;
  }

  #contact-form {
    padding: 2rem;
    border: solid 1px #ddd;
    border-radius: 0.2rem;
  }

  .project {
    position: relative;
    margin: 1rem;
    overflow: hidden;
    width: 45%;
  }

  .clients-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .navbar-nav {
    height: 100%;
  }

  .close {
    display: none;
  }

  .card-body {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .navbar {
    padding: 0 10rem;
    height: 8rem;
  }

  .logo {
    height: 6rem;
    width: auto;
    margin-left: 3rem;
  }

  .head-nav {
    padding: 0.75rem 13rem 0 13rem;
  }

  .header-desc {
    margin-top: 11rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .slide-text_container {
    position: absolute;
    left: 4rem;
    width: 20rem;
    height: 20rem;
    border-radius: 0.4rem;
  }

  .slide {
    background-size: cover;
    background-repeat: no-repeat;
    height: 35rem;
    display: flex !important;
    align-items: center;
  }

  .close {
    display: none;
  }

  #about {
    position: relative;
    padding-bottom: 10rem;
    margin-bottom: 10rem;
  }

  .core-container {
    background-color: #3D5975;
    color: white;
    padding: 2rem;
    border: 1px solid black;
    max-width: 35rem;
    border-radius: 40px;
    position: absolute;
    bottom: -8rem;
  }

  .core-value {
    font-size: 0.9rem;
  }

  .card-block {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #f12e2e;
    color: white;
    width: 100%;
    cursor: pointer;
    transition: background-color, color, box-shadow 0.4s ease;
  }
  .card-block:active {
    background-color: #b12020;
  }
  .card-block:hover {
    box-shadow: 8px 10px 20px 10px grey;
    background-color: #b12020;
  }

  .banner_prev {
    left: -40px;
    margin-left: 0px;
    bottom: 50%;
    margin-bottom: -21px;
    z-index: 0;
  }

  .banner_next {
    right: -40px;
    margin-right: 0px;
    bottom: 50%;
    margin-bottom: -21px;
    z-index: 0;
  }
}

/*# sourceMappingURL=style.css.map */
